<div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/casstest1706/image/upload/v1575026793/glmtlnggpeakihxnywdd.jpg')">
</div>

<%= simple_form_for @cocktail do |f|  %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>

